body {
    background-color: #292929;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;    
}
header {
    background-image: url(token_bonsai.png);
    background-position: right;
    background-repeat: no-repeat; 
    background-color: #006600;
    color: #FFCC00;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 400%;  
}
nav {
    font-weight: bold; 
    float: left;
    width: 150px; 
    padding: 10px;   
}
nav a {
    text-decoration: none;
    color: #006600;
}
nav ul {
    list-style-type: none;
}
main { 
    margin-left: 160px;      
    padding: 10px; 
    background-image: linear-gradient(to bottom, #996600, #818186); 
}
h1 { 
    margin: 0;
    padding: 10px; 
}
table {
    border: solid #000000;
    background-color: #d8b369;
}
td, th {
    border: solid #000000;
    color: #000000;
}
tr:nth-last-of-type(even) {
    background-color: #7c6639;
}
label {
    float: left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right: 5px;
}
input, textarea {
    display: block;
    margin-bottom: 20px;
}
input[type="submit"] {
    margin-left: 140px;
}
footer {
    font-size: 75%; 
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #006600;
    clear: both; 
}
footer a {
    text-decoration: none;
}   
#wrapper { 
        width: 80%;  
        margin-left: auto; 
        margin-right: auto;
        background-color: #FFCC00;  
}
